<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="f3engineers/f3-repo" value="https://f3engineers-686255958640.d.codeartifact.ap-northeast-1.amazonaws.com/nuget/f3-repo/" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" /> <!-- All packages by default -->
    </packageSource>

    <packageSource key="f3engineers/f3-repo">
      <package pattern="F3.*" /> <!-- Only F3 internal packages -->
    </packageSource>
  </packageSourceMapping>
</configuration>
